* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  
  }
  
  body {
    background-color: #0abf30;
    min-height: 100vh;
  }
  
  .main {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    transition: 0.3s;
  }
  
  .add-note {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .add-btn {
    background-color: white;
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: gray;
    width: 70px;
    height: 70px;
    text-align: center;
    border: dashed 1.5px grey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.1s;
  }
  .add-btn:hover{
    border-color:#0abf30;
    color: #0abf30;
  }
  .add-btn:hover + p {
    color:#0abf30
  }
  .add-note p {
    color: gray;
    text-transform: capitalize;
  }
  .note-container {
    width: 280px;
    height: 280px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
  }
  .note-container .text {
    height: 92%;
    overflow-y: auto;
  }
  
  .note-container h4 {
    padding-bottom: 7px;
    font-weight: 500;
    color: #0abf30;
    border-bottom: solid 1px #0abf30;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .note-container h4 span {
    color: #212121;
    font-weight: normal;
  }
  .note-container .text p {
    line-height: 1.6;
    padding: 7px 0;
    color: #0abf30;
    font-size: 14px;
  }
  .note-container .text p span {
    color: #212121;
    display: block;
    max-height: 80%;
    max-width: 100%;
    overflow: auto;
  }
  .footer {
    border-top: solid 1px #0abf30;
    padding-top: 4px;
    position: relative;
  }
  .date {
    color: #ccc;
    font-size: 13px;
  }
  
  .footer .points {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
    position: absolute;
    bottom: 0px;
    right: 0;
  }
  
  .settings-elements {
    border-radius: 5px;
    position: absolute;
    bottom: 14px;
    right: 0px;
    background-color: #fff;
    box-shadow: 0px 0px 1px silver;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 19;
  }
  .settings-elements.active{
    height: 62.33px;
    padding: 8px;
  }
  .settings-elements p {
    font-size: 14px;
    color: #212121;
    cursor: pointer;
  }
  .settings-elements p:first-child {
    padding-bottom: 8px;
  }
  .settings-elements p i {
    margin-right: 5px;
  }
  .settings-elements p:hover {
    color: #0abf30;
    transition: 0.3s;
  }
  
  .content-added {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 2px silver;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .content-added .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .content-added .header h4 {
    font-weight: 500;
  }
  .content-added .header .close {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    font-family: sans-serif;
  }
  
  .content-added #title,
  .content-added textarea {
    height: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 1.5px #0abf30;
    outline:none;
    width: 100%;
  }
  .content-added #title:focus,
  .content-added textarea:focus{
    box-shadow: 0px 0px 1px #0abf30;
  }
  .content-added textarea {
    resize: none;
    height: 200px;
  }
  
  .content-added button {
    width: 100%;
    font-size: 18px;
    border: solid 1.5px #0abf30;
    border-radius: 8px;
    outline:none;
    background-color: #0abf30;
    color: white;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .content-added button:hover {
    background-color: white;
    color: #0abf30;
  }

  .content-added.active {
    height: 426px;
    padding: 10px;
  }
  
  @media(max-width:569px){
    .main{
        justify-content: center;
    }
  }
